/* Limpeza básica */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed; /* Essencial para travar o scroll do iOS */
  background-color: #1a1a1a;
}

/* Garante que o canvas não ignore os limites do container */
canvas {
  max-width: 100% !important;
  max-height: 100% !important;
  display: block;
  touch-action: none; /* Impede gestos do navegador como "swipe to go back" */
}
