/* COMPORTAMENTO PADRÃO: BROWSER (Safari/Chrome) */
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  /* Mudamos de #000 para a cor do jogo. Máscara perfeita para engasgos do SO */
  background-color: #1a1a1a;
  touch-action: none;
  -webkit-text-size-adjust: none;
}

#game-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: #1a1a1a;
  overscroll-behavior: none;
}

canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: fill;
  image-rendering: pixelated;
}

@media all and (display-mode: standalone) {
  #game-container {
    /* Substituímos o env() instável pela nossa variável fixa de JS */
    height: calc(100vh + var(--fixed-safe-area-bottom, 0px));
    width: 100vw;
  }

  /* Mantemos o overflow visible para garantir que o root não corte nada */
  #root {
    overflow: visible;
  }
}
